export function {{functionName:string}}({{{args:string}}}): Promise<Response> {
    return fetch(`{{url:string}}`, {
        method: "{{method:string}}",
        headers: {
          "Content-Type": "application/json",
        },
        ...options,
    });
}
